<h1> New Robot </h1>

<form action = '/robots' method = 'post'>
  <p>Create a new robot</p>
  <p>Name</p>
  <input type = 'text' name = 'robot[name]'/><br/>
  <p>City</p>
  <input type = 'text' name = 'robot[city]'/><br/>
  <p>State</p>
  <input type = 'text' name = 'robot[state]'/><br/>
  <p>Avatar</p>
  <%# AVATAR %> 
  <p>Birthdate</p>
  <input type = 'text' name = 'robot[birthdate]'/><br/>
  <p>Date Hired</p>
  <input type = 'text' name = 'robot[date_hired]'/><br/>
  <p>Department</p>
  <input type = 'text' name = 'robot[department]'/><br/>
  <input type = 'submit'/>
</form>
